@media screen and (max-width: 1200px) {
    .awards-list {
        max-width: none !important;
    }
}
@media screen and (max-width: 600px) {
    .awards-list {
        padding: 0 !important;
    }
}

.awards-list {
    width: 100%;
    max-width: 600px;
    min-width: 100px;
    padding: 3em 2em;
}

.awards-list .ant-timeline-item-content {
    font-size: 1.2em;
    padding-bottom: 1.5em;
}

.awards-list.orange .ant-timeline-item-head {
    border-color: rgb(255, 85, 0);
}

.awards-list.blue .ant-timeline-item-head {
    border-color: rgb(63, 140, 228);
}

.awards-list .comment-snippet {
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    overflow: hidden;
}

.awards-loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.awards-loading-spin {
    font-size: 5em;
    margin: 0.8em auto;
}

.awards-loading-spin.orange {
    color: rgb(255, 85, 0)
}

.awards-loading-spin.blue {
    color: rgb(63, 140, 228)
}

.awards-loading-text {
    font-size: 1.5em;
}

.noteable-filter-container {
    display: flex;
    margin-bottom: 1em;
    text-align: center;
}