.header {
    height: 10em;
    background-color: rgb(255, 127, 73);
    display: flex;
    flex-direction: row;
}

.header-text {
    font-size: 2.5em;
    margin: 0 0 0.25em 0;
    padding-left: 15px;
    color:white;
    align-self: center;
}
