.tab-content {
    display: flex;
    flex-direction: column;
}

.tab-parameters-content {
    margin-bottom: 2em;
    display: flex;
    justify-content: center;
}

.tab-parameters-content.orange .ant-spin-dot-item {
    background-color: rgb(255, 85, 0);
}

.tab-parameters-content.blue .ant-spin-dot-item {
    background-color: rgb(63, 140, 228);
}

.tab-data-content {
    display: flex;
    justify-content: space-evenly;
}

@media screen and (max-width: 1200px) {
    .tab-data-content {
        flex-direction: column-reverse;
    }
    .tab-data-chart {
        max-width: none !important;
    }
}

.tab-data-chart {
    width: 100%;
    max-width: 800px;
    height: 70vh;
    max-height: 600px;
    margin-right: 1em;
    margin-bottom: 2em;
    overflow: hidden;
}

.card-container p {
    margin: 0;
}

.card-container {
    margin: 0 1.5em;
}

.card-container .ant-tabs-content-holder {
    padding: 1em 0.5em;
}

.ant-tabs-tab {
    font-size: 1.4em;
}

.ant-tabs.orange .ant-tabs-tab-btn {
    color: rgb(255, 85, 0);
}

.ant-tabs.orange .ant-tabs-ink-bar {
    background: rgb(255, 85, 0);
}

.ant-tabs.blue .ant-tabs-tab-btn, .ant-tabs.blue .ant-tabs-ink-bar {
    color: rgb(63, 140, 228);
}

.ant-tabs.blue .ant-tabs-ink-bar {
    background: rgb(63, 140, 228);
}

@media screen and (max-width: 1200px) {
    .tab-data-list {
        max-width: none !important;
        min-width: auto !important;
        margin: 0 !important;
    }
}

@media screen and (max-width: 600px) {
    .tab-data-list {
        padding: 0 !important;
    }
}

.tab-data-list {
    width: 100%;
    max-width: 500px;
    min-width: 300px;
    margin: 0 4em;
    flex-shrink: 2;
}

.tab-data-list .ant-timeline-item-content {
    font-size: 1.2em;
    padding-bottom: 1.5em;
}

.tab-data-list.orange .ant-timeline-item-head {
    border-color: rgb(255, 85, 0);
}

.tab-data-list.blue .ant-timeline-item-head {
    border-color: rgb(63, 140, 228);
}

.tab-data-list .comment-snippet {
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    overflow: hidden;
}
