@import '~antd/dist/antd.css';

:root {
  --primary-orange: rgb(255, 85, 0);
  --light-orange: rgb(255, 127, 73);
  --primary-blue: rgb(63, 140, 228);
  --light-blue: rgb(73, 158, 255);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
